/// Font

$mainFont:iranyekan;
$fontSize:13px;
$fontWeight:normal;


/// Color

$white:#ffffff;

$dark100:#00051D;
$drak200:#010101;
$dark300:rgba(0, 0, 0, 0.568);


$gray100:#707070;


$yellow100:#D8D804;

$green100:#348D1F;